body {
  margin: 0;
  font-size: 16px;
  font-family: "Calps Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../public/bg.png) center top / cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}
